<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>ToDoList - użytkownicy</title>
</head>
<body>
<div layout:fragment="content">
    <h4>Lista zarejestrowanych użytkowników</h4>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>IMIĘ</th>
            <th>NAZWISKO</th>
            <th>EMAIL</th>
            <th>UPRAWNIENIA</th>
            <th>AKCJA</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList}">
            <td th:text="${user.name}">Name</td>
            <td th:text="${user.surname}">Nazwisko</td>
            <td th:text="${user.email}">Email</td>
            <td th:text="${user.role}">Role</td>
            <td><a th:href="@{/admin/addAdminRole(id=${user.id})}">
                <button class="btn btn-md btn-success">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
            </a></td>
            <td th:classappend="${user.email == actualUserEmail} ? hidden : ''">
                <a th:href="@{/user/delete(email=${user.email})}">
                <button type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>

                </button>
            </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>