<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>ToDoList</title>
</head>
<body>
<div layout:fragment="content" class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 center-block">
    <img th:src="@{|http://openweathermap.org/img/w/${forecastDto.icon}|}" alt="weather" height="50" width="50" class="img-thumbnail center-block"/>
    <table class="table table-striped">
    <thead>
    <tr>
         <th></th>
         <th></th>
    </tr>
    </thead>
        <tr>
            <th>Miasto: </th>
            <th th:text="${forecastDto.name}">Brak danych</th>
        </tr>
        <tr>
            <th>Temperatura: </th>
            <th th:text="|${forecastDto.temp}&deg;C|">Brak danych</th>
        </tr>
        <tr>
            <th>Wilgotność: </th>
            <th th:text="|${forecastDto.humidity}%|">Brak danych</th>
        </tr>
        <tr>
            <th>Ciśnienie: </th>
            <th th:text="|${forecastDto.pressure} hPa|">Brak danych</th>
        </tr>
        <tr>
            <th>Prędkość wiatru: </th>
            <th th:text="|${forecastDto.speed} m/s|">Brak danych</th>
        </tr>
    </table>
    </div>
</div>
</body>
</html>