<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Rejestracja</title>
</head>
<body>
<div layout:fragment="content">

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">

            <form autocomplete="off" class="form-horizontal" action="#" th:action="@{/registration}"
                  th:object="${userForm}" method="post" name="form">
                <div class="form-group">
                    <label for="name">Imię:</label>
                    <div>
                        <input class="form-control" type="text" th:field="*{name}" required="required" id="name"
                               placeholder="Imię"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="surname">Nazwisko:</label>
                    <div>
                        <input class="form-control" type="text" th:field="*{surname}" required="required" id="surname"
                               placeholder="Nazwisko"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <div>
                        <input class="form-control" type="email" th:field="*{email}" required="required" id="email"
                               placeholder="Email"/>
                        <label
                                th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                class="text-danger"></label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Hasło:</label>
                    <div>
                        <input class="form-control" type="password" th:field="*{password}" required="required"
                               id="password"
                               placeholder="Hasło"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirmPassword">Potwierdzenie hasła:</label>
                    <div>
                        <input class="form-control" type="password" th:field="*{confirmPassword}" required="required"
                               id="confirmPassword"
                               placeholder="Potwierdzenie hasła"/>
                        <label
                                th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
                                class="text-danger"></label>
                    </div>
                </div>

                <div id="g-recaptcha"></div>
                <input class="form-control" type="hidden" th:field="*{recaptchaResponse}"
                       id="recaptchaResponse"/>

                    <script type="text/javascript">
                        var onloadCallback = function () {
                            grecaptcha.render('g-recaptcha', {
                                'sitekey': '6LcaLBwUAAAAAFKcVrfOKW67FCS9OvSIiu11NRFP',
                                'callback': function (response) {
                                    document.getElementById('recaptchaResponse').value = response;
                                },
                                'theme': 'light'
                            });
                        }
                    </script>
                    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async
                            defer></script>


                <div class="form-group">
                    <div>
                        <button class="btn-block btn btn-primary btn-md" name="Submit" value="Rejestracja" type="Submit"
                                th:text="Rejestracja"></button>
                    </div>
                </div>
            </form>


            <div class="mdl-layout-spacer"></div>
        </div>
    </div>

</div>
</body>
</html>